@import '../../../styles/variables.scss';

.search-preview {
	&__list {
		position: absolute;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		top: 56px;
		left: 0;
		max-width: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: $color-gray-medium;
		max-height: 240px;
		border-radius: 0px 0px 2px 2px;
		height: auto;
		overflow-y: auto;
		z-index: 8;
	}

	&__link {
		display: flex;
		padding: 20px;
	}

	&__item {
        width: 100%;
        text-align: left;
        transition: all 0.2s ease 0s;
        cursor: pointer;
		&-name {
			color: $black-blue;
			font-size: 16px;
			font-weight: 400;
		}


        &:hover {
            opacity: 0.5;
            background-color: $color-gray-dark;
        }
	}
}


.name-color {
	color: $color-white;
}

