.search-preview__list {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 56px;
  left: 0;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #30354B;
  max-height: 240px;
  border-radius: 0px 0px 2px 2px;
  height: auto;
  overflow-y: auto;
  z-index: 8;
}
.search-preview__link {
  display: flex;
  padding: 20px;
}
.search-preview__item {
  width: 100%;
  text-align: left;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
.search-preview__item-error {
  display: block;
  height: 25px;
}
.search-preview__item-name {
  color: #8A91AB;
  font-size: 16px;
  font-weight: 400;
}
.search-preview__item:hover {
  opacity: 0.5;
  background-color: #292E44;
}

.name-color {
  color: #FFFFFF;
}