@import '../../../styles/variables.scss';

.detail-city {
	display: flex;
	flex-direction: column;
	column-gap: 40px;
	align-items: center;
	margin-top: 28px;

	&__name {
		font-size: 56px;
		font-weight: 500;
		line-height: 110.7%;
		color: $color-white;
		margin-bottom: 16px;
	}

	&__weather {
		color: $color-white;
		font-size: 16px;
		font-weight: 400;
		line-height: 110.7%;
	}

	&__temp {
		margin-top: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;

		&-image {
			position: relative;
			width: 191px;
			height: 191px;
			// padding: 20px 20.682px 21px 20.318px;
			img {
				position: absolute;
				top: 0;
				left: 0;
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
				// width: 141px;
				// height: 127.295px;
			}
		}

		&-span {
			font-size: 129.755px;
			font-weight: 600;
			line-height: 110.7%; /* 143.639px */
			background: linear-gradient(
				180deg,
				#fff 11.65%,
				rgba(255, 255, 255, 0) 139.47%
			);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__barometer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 32px;
		& > span {
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			color: $color-white;
		}

		&::before {
			content: '';
			display: inline-block;
			width: 24px;
			height: 24px;
			background: url('../../../assets/images/svg/barometr.svg')
				no-repeat;
			background-size: 100% 100%;
			vertical-align: middle;
			margin-right: 8px;
		}
	}

	&__daybreak {
		color: $black-blue;
		font-size: 16px;
		font-weight: 400;
		line-height: 110.7%;
	}
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;

	&__image {
		width: 24px;
		height: 24px;
		cursor: pointer;
	}
}

@media (max-width: $breakpoint-md) {
	.navigation {
		margin-top: 20px;
	}


	.detail-city {
		margin-top: 49px;

		&__name {
			font-size: 24px;
			line-height: 15px;
			margin-bottom: 26px;
		}

		&__weather {
			font-size: 14px;
			line-height: 15px;
		}
		&__temp {
			flex-direction: column;
			&-image {
				position: relative;
				width: 132px;
				height: 132px;
				// padding: 20px 20.682px 21px 20.318px;
			}

			&-span {
				font-size: 120px;
				line-height: 133px;
			}
		}

		&__barometer {
			margin-bottom: 40px;
			& > span {
				font-size: 14px;
				line-height: 16px;
			}
		}

		&__daybreak {
			font-size: 14px;
			line-height: 15px;
		}
	}
}
