@import '../../../styles/variables.scss';

.city-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
    background-color: $color-gray-dark;
    border-radius: 6px;
	transition: all 0.5s;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}

	&__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 11px;
	justify-items: center;
	padding: 21px;
	}

	&__name {
		color: $color-white;
		font-size: 14px;
		font-weight: 400;
		line-height: 110.7%;
	}

	&__temp {
		color: $color-white;
		font-size: 40px;
		font-weight: 500;
		line-height: 110.7%;
	}

	&__image {
		position: relative;
		width: 100px;
		height: 78px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
