.button {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.button:hover, .button:active {
  color: #FFFFFF;
}
.button:hover .icon-Arrow, .button:active .icon-Arrow {
  fill: #FFFFFF;
}
.button:hover *, .button:active * {
  fill: #FFFFFF;
}

.back-button {
  color: #8A91AB;
  font-size: 16px;
  font-weight: 400;
  line-height: 110.7%;
  padding: 0;
  border: none;
}

.button-modal {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 36px;
}