//Colors

$color-white: #FFFFFF;
$color-black: #161B30;
$color-gray: #2A2F45;
$black-blue: #8A91AB;
$color-gray-dark: #292E44;
$color-gray-medium: #30354B;

//fonts
$font-main: 'SF Pro Display';

//Breakpoints
$breakpoint-xxl: 1600px;
$breakpoint-xl: 1366px;
$breakpoint-lg: 768px;
$breakpoint-md: 560px;
$breakpoint-sm: 390px;
$breakpoint-374: 374px;

//Container max width
$container-max-width: 1516px;

