.header {
  background-color: #2A2F45;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  max-width: 1516px;
  padding: 0 23px;
}
.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  column-gap: 12px;
}
.header__text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}